@font-face {
  font-family: "Public Sans";
  font-weight: normal;
  src: url("/app/assets/fonts/publicsans-regular-webfont.woff2") format("woff2"),
    url("/app/assets/fonts/publicsans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-weight: lighter;
  src: url("/app/assets/fonts/publicsans-light-webfont.woff2") format("woff2"),
    url("/app/assets/fonts/publicsans-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-weight: bold;
  src: url("/app/assets/fonts/publicsans-bold-webfont.woff2") format("woff2"),
    url("/app/assets/fonts/publicsans-bold-webfont.woff") format("woff");
}
